@import "tailwindcss";

@theme {
  --color-primary: #3461FF;
  --color-gray: #FAFAFA;
  --color-dark-blue: #232038;
  --font-primary: "General Sans Medium"; 
}

@font-face {
  font-family: 'General Sans Medium';
  font-style: normal;
  font-weight: normal;
  src: local('General Sans Medium'), url('/fonts/GeneralSans-Medium.woff') format('woff');
}