---
import Button from "../ui/Button.astro";
---

<section class="py-25">
  <div class="w-[90%] max-w-[1200px] flex m-auto">
    <div class="bg-primary text-white flex justify-between gap-6 px-14 py-25 rounded-4xl">
      <h2 class="text-6xl">Elevate Your Brand Today!</h2>
      <div class="flex flex-col gap-8">
        <p class="text-xl">Ready to transform your digital dresence? Let's create magic together! book our services now!</p>
        <Button text="Book Call" variant="secondary" />
      </div>
    </div>
  </div>
</section>