---
---

<footer class="bg-black py-12">
  <div class="w-[90%] max-w-5xl flex items-center justify-between gap-6 text-white text-sm m-auto">
    <p>© 2022 Embrace, Inc. - All Rights Reserved</p>
    <nav>
      <ul class="flex items-center gap-12">
        <li>
          <p>Terms of use</p>
        </li>
        <li>
          <p>Privacy policy</p>
        </li>
      </ul>
    </nav>
  </div>
</footer>