---
import Button from "../ui/Button.astro";
---

<header class="py-4 border-b border-neutral-200">
  <div class="w-[90%] max-w-5xl flex items-center justify-between gap-6 m-auto">
    <p>Embrace</p>
    <nav>
      <ul class="flex items-center gap-10">
        <li>
          <p>How It Works</p>
        </li>
        <li>
          <p>Our Work</p>
        </li>
        <li>
          <p>Pricing</p>
        </li>
        <li>
          <p>About Us</p>
        </li>
      </ul>
    </nav>
    <Button text="Book A Call" size="small" />
  </div>
</header>