---
import { Image } from 'astro:assets';
import EmbraceLogoImage from '/src/assets/embrace.svg';
import HamburguerIcon from '/src/assets/hamburguer.svg';
import Button from "../ui/Button.astro";
---

<header class="py-4 border-b border-neutral-200">
  <div class="w-[90%] max-w-[1200px] flex items-center justify-between gap-6 m-auto">
    <Image src={EmbraceLogoImage} alt="Logo oficial de la empresa Embrace." />
    <nav class="hidden md:block">
      <ul class="flex items-center gap-10">
        <li class="hover:text-primary transition-colors duration-200 cursor-pointer">
          <p>How It Works</p>
        </li>
        <li class="hover:text-primary transition-colors duration-200 cursor-pointer">
          <p>Our Work</p>
        </li>
        <li class="hover:text-primary transition-colors duration-200 cursor-pointer">
          <p>Pricing</p>
        </li>
        <li class="hover:text-primary transition-colors duration-200 cursor-pointer">
          <p>About Us</p>
        </li>
      </ul>
    </nav>
    <div class="block md:hidden">
      <Image src={HamburguerIcon} width={40} alt="Menú del header." />
    </div>
    <div class="hidden md:block">
      <Button text="Book A Call" size="small" />
    </div>
  </div>
</header>